Carla Escobar
carlaescobar_05524
En línea

Carla Escobar — 12/04/2024 14:20
ojala jajaj
pues no se la disponibilidad del resto, yo por las tardes salvo los martes, estoy libre
pero creo que durante las clases debemos aprovechar para organizarnos y trabajar en equipo, y fuera del horario investigar, ver tutoriales o lo que sea
Abelardo Acosta — 12/04/2024 14:22
deberiamos hacer lo del grupo de jean en el boot de partir de un back y un front en comun y adaptar?
yo lo hice a medias pero fue por emergencia saque de chicharika sino no presentabamos nada
Carla Escobar — 12/04/2024 14:23
pues depende del proyecto que sea, si es hacer un crud en back como estamos haciendo, podemos rescatar algo
a mi me da un poco de miedo lo de rescatar, porque en el grupo de miguel tuvieron problemas con eso
pero bueno todo es hablarlo
Abelardo Acosta — 12/04/2024 14:24
nos ira bien estoy seguro
cualquier feddback que quieras darme siente total confianza
en general lo bueno es q a este punto todos tiramos por nuestra cuenta y la organizacion inicial git, etc será más rapida q con chicha
Carla Escobar — 12/04/2024 14:26
si seguro que si
aunque yo voy a meter mucha caña con la organizacion
Abelardo Acosta — 12/04/2024 14:27
confio en eso
jajajaja
he pensado en andrea como product (al ser 4 mujeres creo conveniente q representen al equipo)
aunque ines me dijo q en los grupos se esperaba mas liderazgo de mi y no lo estaba dando, confío en q puedo ayudar desde lo horizontal (suelo tener esa tendencia en los trabajos)
igual si te parece bien lo hablamos y vemos de votar, tú como scrum y andrea como product
Carla Escobar — 12/04/2024 14:30
me parece bien si
el lunes lo hablamos con ellas
tu con andrea no has trabajado no? trabaja muy bien y se adapta
Abelardo Acosta — 12/04/2024 14:31
no, pero lo veo de lejos si
y todos ya hemos tenido responsabilidades en trabajos anteriores en este debemos ser pragmaticos
y buscar el mejor resultado y organización
Carla Escobar — 12/04/2024 14:32
me preocupa un poco fio, no he trabajado nunca con ella
pero me han dicho que si le dices lo que tiene que hacer, trabaja bien
Abelardo Acosta — 12/04/2024 14:33
te lo iba a decir
yo soy cercano a ella, ella en presencial no va a currar
pero luego en su casa saca el curro
en presencial podemos darles tareas livianas y permitirle su espacio, luego sola saca su curro
Carla Escobar — 12/04/2024 14:44
pues esta bien saberlo
es buena idea si
pero que le pasa, tiene ansiedad o algo asi?
Abelardo Acosta — 12/04/2024 14:45
en general a mi me pasa tambien
me cuesta concentrarme con tanto ruido por eso suelo alejarme y cuando puedo me pongo los cascos, no es por borde es porque sino no me concentro
aunque me gusta ayudar a los compañeros porque repaso conocimiento, para avanzar yo necesito abstraerme mucho y me suele costar un par de horas llegar al punto en que lo consigo
Carla Escobar — 12/04/2024 14:48
ya te entiendo, a mi en clase me cuesta mucho concentrarme tambien, por eso los martes cuando nos toca en la otra clase, me pongo en la mesa mas escondida, porque suele ser la que no quiere nadie y estoy mas tranquila jajaj
bueno lo importante es ver lo que le ayuda a cada uno para trabajar bien, pero sin perjudicar al resto, si vosotros necesitais estar fuera de la clase por ejemplo para trabajar mejor, pues se dice y ya esta
Abelardo Acosta — 12/04/2024 14:50
jajajaja
justo
yo no, pero igual a fiore le viene bien
porque si tambien le afecta un poquito mas porque tine ansiedad
pero en general estoy muy feliz por ella porque lo ha manejado supero bien
e ines le ha ayudado mucho
Carla Escobar — 12/04/2024 15:09
me alegro
Abelardo Acosta — 12/04/2024 20:38
carlo por cierto si estas algo estancada con el proyecto echa un ojo a este tio (es largo pero lo tiene todo , sabiendo que debemos adaptar cosas)
carla*
https://www.youtube.com/watch?v=06g6YJ6JCJU
YouTube
Josh tried coding
Build a Complete Digital Marketplace with Next.js 14, React, tRPC, ...
Imagen
Carla Escobar — 12/04/2024 21:21
Que bien gracias
Abelardo Acosta — hoy a las 14:21
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache



# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

... (28 líneas restantes)
Contraer
message.txt
3 KB
﻿
Abelardo Acosta
abelardoacosta
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache



# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
message.txt
3 KB